{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form id = "form" action="/register" method="post">
        <div class="col-6 align-middle">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="col-6 align-middle">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="col-6 align-middle">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <div class="align-middle">
            <button id ="btn" class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>


{% endblock %}
